spring:
  application:
    name: WebMicroservice

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true

springdoc:
  swagger-ui:
    path: /swagger
    title: Orders Service API
  api-docs:
    path: /openapi